<li>
  <a href="{{ post.url | absolute_url }}" class="post-link">
    <div class="post-link__heading">
      
          <h1 class="post-link__title">      
            {{ post.title }}
          </h1>

          {% if post.tags contains "aleph"%}
            ༄> 
          {% elsif post.tags contains "photos" %}
            [◉¯] 
          {% elsif post.tags contains "quotes" %}
            皿
          {% elsif post.tags contains "sounds" %}
            ♬♪ 

          {% endif %}

          
          {% include post-excerpt.html %}
          
      
    </div>
    <span class="post-date">
      {{ post.date | date: "%-d %b, '%y" }}
    </span>
  </a>
</li>