---
---

@charset "utf-8";

$asset_url: '{{ '/assets' | absolute_url }}';

@import 
  "reset",
  "variables",
  "syntax-highlighting",
  "mixins",
  "font",
  "base",
  "masthead",
  "menu",
  "post-list",
  "article",
  "footnotes",
  "search"
;

code {
    text-indent: 0em;
}

.highlight {
    overflow-x: auto;
}

@media (min-width: 768px) {
  .site-masthead h1 {
    font-size: 4em;
  }

  .site-masthead h2 {
    font-size: 2em;
  }
}